# eclipse
bin
*.launch
.classpath
.factorypath
.metadata
.project
.settings

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/
runs/
server

# cache
/src/generated/resources/.cache/

# Files from Forge MDK
forge*changelog.txt

#github

1.17
.env

test-files
logs/
